node_modules

/build
/public/build
.env

.vscode
.github
.node-persist

serviceAccountKey.json
cp-test-payouts.pem
cp-production-payouts.pem

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
neutron-v0.1a\fly.toml