node_modules

/build
/public/build
.env

serviceAccountKey.json
cp-test-payouts.pem
cp-production-payouts.pem

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
